.recuadro{
  height: auto;
}

input {
  border: 2px solid black;
  outline: none;
  transition: border-color 0.4s;
}

input:focus {
  border-color: rgb(30, 136, 229);
}

img {
  width: 20%;
  height: auto;
  margin: 0 auto;
}

button:hover {
  background-color: #1283e6;
}

/*Declaramos la animacion*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*Le aplicamos la animacion al div principal*/
.principal {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
