.recuadro {
  width: 28%;
  height: auto;
}

input {
  border: 2px solid black;
  outline: none;
  transition: border-color 0.4s;
}

input:focus {
  border-color: rgb(30, 136, 229);
}

button:hover {
  background-color: #1283e6;
}

/*Estilo para las tarjetas*/
.tarjeta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #334155;
  border-radius: 15px;

}

.tarjeta p {
  font-weight: 600;
}

.tarjeta p span {
  font-weight: normal;
}

.tarjeta span {
  color: #3182ce;
}
