/*Declaramos la animacion*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*Le aplicamos la animacion al div principal*/
.principal {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
