/*Importamos tailwind*/
@import "tailwindcss";

/*Para todo el documento*/
* {
  font-family: Helvetica;
}

.main {

  /*Utilizamos todo el Viewport*/
  height: 100vh;
  width: 100vw;

}

.bg-blur {

  /*Color de fondo*/
  background-color: #f1eeee;

  background-image:
    radial-gradient(at 0% 10%, #98cfe7 0px, transparent 50%),
    radial-gradient(at 20% 100%, #d59dda 0px, transparent 50%),
    radial-gradient(at 100% 50%, #d59dda 0px, transparent 50%);

  filter: blur(150px);

  width: 100vw;
  height: 100vh;

}

/*Especificamos los estilos para los navegadores que utilizan el motor WebKit (para poder modificar sus estilos)*/
progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  border-radius: 5px;
  /*Sobra adentro de la barra*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
  /*Color de la barra*/
  background-color: #4CAF50;
  /*Borde de la barra*/
  border-radius: 5px;
  /*Animacion*/
  transition: width 0.4s ease;

}
